<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Login</title>
</head>
<body>
<h1>Welcome to Programmer Fox Club!</h1>
<p>Please provide a name, so you can associate it to your pet!</p>
<form action="#" th:action="@{login}" method="post">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" placeholder="Enter your pet's name here" autofocus>
        <button th:type="submit" th:value="submit">Go</button>
    </div>
</form>
</body>
</html>