th {
     border: 2px solid black;
     border-collapse: collapse;
 }

body {
    background-image: url("background.jpg");

}

/*.jumbotron-custom*/
/*{*/
    /*background-image: url("headerpicture.jpg");*/
/*}*/